.header {
    background-color: $primary-color;
    &__top {
      padding: 3rem 0;
    }
    &__top .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__contact {
      font-size: 2.4rem;
      line-height: lineHlc(32, 24);
      color: white;
    }
    &__main {
      display: flex;
      align-items: center;
      padding-top: 15.5rem;
      gap: 3.2rem;
    }
    &__content {
      width: 100%;
      max-width: 72.5rem;
    }
    &__heading {
      font-size: 8rem;
      color: white;
      margin-bottom: 6.8rem;
      line-height: 1;
      letter-spacing: -1px;
      &-child {
        opacity: 0;
      }
      & > span {
        display: block;
      }
    }
    &__info {
      width: 100%;
      max-width: 40.7rem;
      margin-left: auto;
    }
    &__text {
      font-size: 2rem;
      color: white;
      margin-top: 4.7rem;
      opacity: 0.6;
    }
    &__img {
      transform: translate(0, 78px);
    }
    @include minWidth (1024px) {
      .container {
        position: relative;
      }
      &__img-small {
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translateY(87px);
      }
    }
  
    @include maxWidth (1023.98px) {
      padding-bottom: 57px;
      &__contact {
        margin-left: auto;
        font-size: 18px;
      }
      &__main {
        padding-top: 100px;
      }
      &__heading-child {
        display: none;
      }
    }
    @include maxWidth (767.98px) {
      &__main {
        flex-direction: column-reverse;
        padding-top: 80px;
      }
      &__images {
        position: relative;
        align-self: stretch;
        margin-bottom: 80px;
      }
      &__img-small {
        position: absolute;
        right: 15px;
        bottom: 30px;
      }
      &__img-large {
        width: 100%;
        max-width: 330px;
      }
      &__heading {
        font-size: 46px;
        margin-bottom: 40px;
      }
      &__info {
        max-width: 360px;
        margin-left: 0;
      }
      &__text {
        margin-top: 40px;
        font-size: 18px;
      }
    }
  }
  .menu {
    display: flex;
    align-items: center;
    gap: 5rem;
    list-style: none;
    font-size: 1.8rem;
    padding: 0;
    &__link {
      color: $gray-color;
      opacity: 0.4;
      text-decoration: none;
      transition: all 0.2s linear;
      &:hover {
        opacity: 1;
      }
    }
    &__toggle {
      display: none;
      width: 24px;
      padding: 0;
      margin: 0;
      background-color: transparent;
      padding: 10px;
      cursor: pointer;
      box-sizing: content-box;
      position: relative;
      z-index: 99;
      span {
        pointer-events: none;
        height: 3px;
        width: 100%;
        background-color: $secondary-color;
      }
      span.line-first {
        width: 50%;
      }
    }
    @include maxWidth (1023.98px) {
      --spacing: 10px;
      position: fixed;
      top: var(--spacing);
      right: var(--spacing);
      bottom: var(--spacing);
      border-radius: 8px;
      width: 300px;
      background-color: $primary-color;
      z-index: 9999;
      flex-direction: column;
      align-items: stretch;
      gap: 0;
      transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
      transform: translateX(150%);
      &.is-active {
        transform: translateX(0);
      }
      &__link {
        color: $primary-color;
        display: block;
        padding: 15px;
        opacity: 1;
      }
      &__toggle {
        display: inline-flex;
        flex-direction: column;
        margin-left: 30px;
        gap: 5px;
      }
    }
  }