html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  body {
    font-family: var($primary-font);
    background-color: var($secondary-color);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: var(--primary-color);
  }
  .font-heading {
    font-family: var($secondary-font);
    font-weight: 400;
  }
  .g-heading {
    font-size: 70px;
    line-height: calc(76 / 70);
  }
  .g-link {
    font-size: 24px;
    line-height: calc(30 / 24);
    color: inherit;
    font-family: var($secondary-font);
    flex-shrink: 0;
  }
  .g-text {
    font-size: 24px;
    line-height: calc(34 / 24);
    color: var($secondary-color);
  }
  @media screen and (max-width: 767.98px) {
    .g-heading {
      font-size: 46px;
    }
    .g-link,
    .g-text {
      font-size: 18px;
      line-height: 1.667;
    }
  }