footer.footer
    .container
      a.footer__back-to-top.g-link(href='#top')
        img(src='./images/img-up.svg' alt='')
        span Go to the top
      .footer__main
        .footer__content
          h3.font-heading.footer__heading Stay in touch with us
          +contactItem('DM us on:', 'hello@heling.com')
          +contactItem('Call us on:', '+2(930) 859-465')
        .footer__image
          img(srcset='./images/img7.png 2x' alt='')
      .footer__bottom
        span &copy;Heling 2021.
        img.footer__logo(srcset='./images/logo.png 2x' alt='')
        span Privacy Policy